.device-description-container {
	background-color: rgb(71, 71, 71);
}

.device-description-header-container {
	text-align: center;
	padding-top: 33px;
}

.device-description-header {
	font-size: 39.049px;
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
	color: rgb(245, 197, 6);
	text-transform: uppercase;
	line-height: 1.2;
}

.device-description-image-container {
	padding: 28px 17px 36px 17px;
}

.device-description-image {
	max-width: 100%;
}

.device-description-text-container {
	display: none;
}

.device-description-item {
	font-size: 22px;
	font-family: "Open Sans", sans-serif;
	color: rgb(169, 169, 167);
	line-height: 1.2;
	text-align: left;
	padding: 10px;
	word-wrap: break-word;
	list-style-image: url('../../Content/img/list-item-image.png');
}

@media (min-width: 641px) {
	.device-description-container {
		background: Url('../../Content/img/devices-descripton-background.png');
		padding-bottom: 86px;
	}

	.device-description-content {
		display: table;
	}
	
	.device-description-image-container {
		padding: 0px;
		display: table-cell;
		vertical-align: top;
	}

	.device-description-text-container {
		display: table-cell;
		vertical-align: middle;
		padding: 81px 0px 0px 100px;
	}

	.device-description-header-container {
		padding: 36px 0px 2px;
	}

	.device-description-header {
		font-size: 43.049px;
		font-family: "PTSans", sans-serif;
		color: rgb(245, 197, 6);
		text-transform: uppercase;
		line-height: 1.2;
	}
}