.text-block-container {
	background-color: rgb(236, 158, 3);
	width: 47%;
	margin: 2px 8px;
	float: left;
	display: inline-block;
	word-wrap: break-word;
}

.text-block {
	font-size: 30px;
	font-family: "SegoeWP", sans-serif;
	font-weight: normal;
	color: rgb(255, 255, 255);
	line-height: 1.15;
	text-align: left;
	padding: 13px 17px 0px 27px;
	word-wrap: break-word;
}

.feature-link {
	text-decoration: none;
}

.plus-icon {
	position: relative;
	float: right;
	right: 12px;
	top: -17px;
}

.video-block-container {
	margin: 1px 8px 8px 0px;
	position: relative;
	float: right;
}

.twitter-block {
	background-color: rgb(245, 197, 7);
	text-align: center;
}

.twitter-image {
	padding: 50px 44px 46px 48px;
}

.feature-header {
	display: none;
}

.feature-header-text {
	font-size: 37.049px;
	font-family: "PTSans", sans-serif;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.2;
	text-align: left;
}

@media (min-width: 641px) {
	.features-container {
		background: url('../../Content/img/feature-background.png');
		background-size: cover;
		padding-bottom: 128px;
	}

	.text-block-container {
		width: 33.4%;
		margin: 0;
		float: left;
		display: inline-block;
		word-wrap: break-word;
	}

	.text-block {
		padding: 16px 30px 18px 30px;
		line-height: 1.25;
	}

	.video-block-container {
		float: left;
		margin: 0px 10px 10px 0px;
	}

	.twitter-block-container {
		float: right;
		margin: 0px;
	}

	.twitter-block{
		background-color: rgb(236, 158, 3);
		padding: 0 37px 2px;
	}

	.twitter-image {
		padding: 59px 46px 36px 47px;
	}
	
	.feature-header {
		display: block;
		padding: 33px 0;
	}

	.plus-icon {
		right: 13px;
		top: -13px;
	}

	.twitter-plus-icon {
		position: relative;
		float: right;
		right: 10px;
		top: -23px;
	}

	.number {
		position: relative;
		float: right;
		right: 7px;
		top: -225px;
		font-size: 25.049px;
		font-family: "SegoeWP", sans-serif;
		color: rgb(255, 255, 255);
		line-height: 1.517;
	}
}