.mobile-visible {
	display: inherit;
}

.desktop-visible {
	display: none;
}

.visible {
	display: block;
}

.hidden {
	display: none;
}

.layout {
	max-width: 100%;
}

.container {
	margin: 0 auto;
}

@media (min-width: 641px)
{
	.mobile-visible {
		display: none;
	}
	
	.desktop-visible {
		display: inherit;
	}

	.container {
		max-width: 1020px;
	}
}