.device-description-text {
	display: none;
}

.device-description-text__item {
	font-size: 22px;
	font-family: "Open Sans", sans-serif;
	color: rgb(169, 169, 167);
	line-height: 1.2;
	text-align: left;
	padding: 10px;
	word-wrap: break-word;
	list-style-image: url('../../../../Content/img/list-item-image.png');
}

@media (min-width: 641px) {
	.device-description-text {
		display: table-cell;
		vertical-align: middle;
		padding: 81px 0px 0px 100px;
	}
}