.device-description-image {
	padding: 28px 17px 36px 17px;
}

.device-description-image__item {
	max-width: 100%;
}

@media (min-width: 641px) {
	.device-description-image {
		padding: 0px;
		display: table-cell;
		vertical-align: top;
	}
}