.device-description {
	background-color: rgb(71, 71, 71);
}

@media (min-width: 641px) {
	.device-description {
		background: Url('../../../../Content/img/devices-descripton-background.png');
		padding-bottom: 86px;
	}
}