.text-block {
	background-color: rgb(236, 158, 3);
	width: 47%;
	margin: 2px 8px;
	float: left;
	display: inline-block;
	word-wrap: break-word;
	text-decoration: none;
}

.text-block__text {
	font-size: 30px;
	font-family: "SegoeWP", sans-serif;
	font-weight: normal;
	color: rgb(255, 255, 255);
	line-height: 1.15;
	text-align: left;
	padding: 13px 17px 0px 27px;
	word-wrap: break-word;
}

.text-block__plus-icon {
	position: relative;
	float: right;
	right: 12px;
	top: -17px;
}

@media (min-width: 641px) {
	.text-block {
		width: 33.4%;
		margin: 0;
		float: left;
		display: inline-block;
		word-wrap: break-word;
	}

	.text-block__text {
		padding: 16px 30px 18px 30px;
		line-height: 1.25;
	}
	
	.text-block__plus-icon {
		right: 13px;
		top: -13px;
	}
}