.twitter__content {
	background-color: rgb(245, 197, 7);
	text-align: center;
}

.twitter__image {
	padding: 50px 44px 46px 48px;
}

@media (min-width: 641px) {
	.twitter {
		float: right;
		margin: 0px;
	}

	.twitter__content {
		background-color: rgb(236, 158, 3);
		padding: 0 37px 2px;
	}

	.twitter__image {
		padding: 59px 46px 36px 47px;
	}
	
	.twitter__plus-icon {
		position: relative;
		float: right;
		right: 10px;
		top: -23px;
	}

	.twitter__number {
		position: relative;
		float: right;
		right: 7px;
		top: -225px;
		font-size: 25.049px;
		font-family: "SegoeWP", sans-serif;
		color: rgb(255, 255, 255);
		line-height: 1.517;
	}
}