.link {
	padding: 38px 0px 29px 0px;
}

.link__url {
	text-decoration: none;
}

@media (min-width: 641px) {
	.link {
		border-left: 1px solid rgb(212, 212, 212);
		text-align: center;
		padding-bottom: 35px;
	}

	.link--last {
		border-right: 1px solid rgb(212, 212, 212);
	}
}