.start-play-button {
	cursor: pointer;
	position: absolute;
	left: 46%;
	top: 39%;
	opacity: 0.6;
	border: none;
	border-radius: 50%;
	background-color: rgb(245,197,6);
}

.start-play-button:focus {
	outline: none;
}

.start-play-button::-moz-focus-inner {
	border: 0;
}

.start-play-button--small {
	left: 41%;
	top: 40%;
}

.start-play-button__image {
	padding: 16px 15px 15px 15px;
	margin-left: 4px;
}

.start-play-button__image--small {
	padding: 15px 12px 10px 11px;
	margin-left: 5px;
}

@media (min-width: 641px) {
	.start-play-button {
		left: 44%;
	}

	.start-play-button--small {
		top: 39.5%;
		left: 42%;
	}

	.start-play-button__image--small {
		padding: 11px 10px 11px 11px;
		margin-left: 5px;
	}
}