@media (min-width: 641px) {
	.menu-shadow {
		position: relative;
	}
		
	.menu-shadow__item {
		background-color: rgb(245, 197, 6);
		width: 100%;
		opacity: 0.271;
		height: 35px;
		position: absolute;
		z-index: 0;
		width: 453px;
		height: 41px;
		top: -8px;
		right: 7px;
	}

	.menu-shadow__item--shifted {
		top: -5px;
		right: 4px;
	}
}