.menu-item-logo {
	display: table-cell;
	vertical-align: middle;
}

.menu-item-logo__image {
	height: 22px;
}

@media (min-width: 641px) {
	.menu-item-logo {
		padding-left: 3px;
		padding-top: 2px;
	}

	.menu-item-logo__image {
		height: 18px;
	}
}