.logo-description {
	display: table-cell;
	vertical-align: middle;
	padding: 4px 26px 0px 7px;
}

.logo-description__main-text {
	font-size: 19px;
	font-family: "Lucida Sans", sans-serif;
	color: rgb(255, 255, 255);
	font-style: italic;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 1px 1.732px 0px rgba(0, 0, 0, 0.42);
}

.logo-description__notes {
	display: none;
}

.logo-description__main-text--small {
	font-size: 17px;
}

@media (min-width: 641px) {
	.logo-description {
		padding: 6px 25px 0px 3px;
	}

	.logo-description__main-text {
		display: inline;
		font-size: 41px;
		font-family: "Lucida Sans Italic", sans-serif;
		color: rgb(255, 255, 255);
		font-style: normal;
		text-transform: uppercase;
		line-height: 1.2;
		text-align: center;
		text-shadow: 1px 1.732px 0px rgba(0, 0, 0, 0.42);
	}

	.logo-description__notes {
		display: inline;
		font-size: 13.3px;
		font-weight: normal;
		font-family: "Lao UI", sans-serif;
		color: rgba(255, 255, 255, 0.769);
		text-transform: uppercase;
		line-height: 1.2;
		margin-left: -5px;
	}

	.logo-description__main-text--small {
		font-size: 29.049px;
		font-family: "Lucida Sans Italic", sans-serif;
		color: rgb(255, 255, 255);
		text-transform: uppercase;
		line-height: 1.2;
		text-align: center;
		text-shadow: 1px 1.732px 0px rgba(0, 0, 0, 0.42);
	}
}

.logo-description--small {
	padding: 4px 25px 3px 7px;
}