.header-text {
	display: none;
}

.header-text__item {
	font-size: 63.049px;
	font-family: "Asap Regular", sans-serif;
	font-weight: normal;
	color: rgb(245, 197, 6);
	text-transform: uppercase;
	line-height: 1.2;
	text-align: center;
}

.header-text__item--white {
	color: rgb(255, 255, 255);
}

@media (min-width: 641px) {
	.header-text {
		display: table-cell;
		vertical-align: top;
		padding-left: 36px;
		padding-top: 77px;
	}
	
	.header-text__item {
		margin-left: -10px;
	}

	.header-text__item--white {
		margin-left: 5px;
	}
}